In [355]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [356]:
url = "http://www.popvortex.com/music/charts/top-100-songs.php"

In [357]:
response = requests.get(url)
response.status_code

200

In [358]:
tunes = BeautifulSoup(response.content, "html.parser")

In [ ]:
tunes.select("div.chart-content.col-xs-12.col-sm-8 > p > cite")

In [360]:
title = []

In [361]:
# define the number of iterations of our for loop
num_iter = len(tunes.select("div.chart-content.col-xs-12.col-sm-8 > p > cite"))
print(num_iter)

100

In [ ]:
# iterate through the result set and retrive all the data
for i in range(num_iter):
    title.append(tunes.select("div.chart-content.col-xs-12.col-sm-8 > p > cite")[i].get_text())
print(title)
len(title)

In [ ]:
tunes.select("div.chart-content.col-xs-12.col-sm-8 > p > em")

In [364]:
singer = []

In [365]:
num_iter2 = len(tunes.select("div.chart-content.col-xs-12.col-sm-8 > p > em"))
print(num_iter2)

100

In [ ]:
# iterate through the result set and retrive all the data
for i in range(num_iter2):
    singer.append(tunes.select("div.chart-content.col-xs-12.col-sm-8 > p > em")[i].get_text())
print(singer)
len(singer)

In [367]:
# each list becomes a column
itunes = pd.DataFrame({"title":title,
                       "singer":singer,
                      })

In [368]:
itunes

                                    title                singer
0   That That (prod. & feat. SUGA of BTS)                   PSY
1                               As It Was          Harry Styles
2                             First Class           Jack Harlow
3                         About Damn Time                 Lizzo
4                              Kryptonite          3 Doors Down
..                                    ...                   ...
95                        Mama He's Crazy             The Judds
96                             The Stroke          Billy Squier
97                             Big Energy                 Latto
98                     N.Y. State of Mind                   Nas
99                               With you  Jimin & HA SUNG WOON

[100 rows x 2 columns]